               <div class="row">
                  <div class="col-lg-12 my-2">
                     <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
                        <li class="col-sm-3 p-0">
                           <a class="nav-link active m-2" style="background-color: #27b6b6; color: white;" href="{% url 'product:add-product' %}">Add Product</a>
                        </li>
                        <li class="col-sm-3 p-0">
                           <a class="nav-link m-2" style="background-color: #27b6b6; color: white;" href="{% url 'product:my-shop' %}">My Shop</a>
                        </li>
                        <li class="col-sm-3 p-0">
                           <a class="nav-link m-2" style="background-color: #27b6b6; color: white;" href="my_sellers.html">My Sellers</a>
                        </li>
                        <li class="col-sm-3 p-0">
                           <a class="nav-link m-2" style="background-color: #27b6b6; color: white;" href="add_new_ad.html">Add New Ad</a>
                        </li>
                     </ul>
                  </div>
               </div>