{% extends 'front/base.html' %}
{% load static %}
{% block title %} Konetos | Friend List {% endblock %}
{% block content %}
{% load product_tags %}
<!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  {% for friend in friends %}
                  <div class="col-md-4">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'images/page-img/profile-bg2.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'images/user/05.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">{% user_name friend.user_id%}</h4>
                                             <h6>@{% user_name friend.user_id%}</h6>
                                            
                                          </div>
                                       </div>
                                       <button class="btn" style="background-color: #27b6b6; color: white;">Friend</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock content %}