<!-- Modal -->
{% load static %}
<style>
    .modal-dialog {
    margin-top: 25%;
}

</style>
<div class="modal fade" id="placeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Place You Lived</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="placeform">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <input type="text" name="lived" id="oldlived" class="form-control" placeholder="Place you lived">
                        </div>
                        <div class="col">
                            <input type="text" id="oldcurrent_city" name="current_city" class="form-control" placeholder="Current City">
                        </div>

                    </div>

                    <div class="row">

                        <input type="hidden" name="user_id" value="{{ user.id }}">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
   /// post
$('#placeform').submit(function(e){
        e.preventDefault();

        $form = $(this);
        var formData = new FormData(this);

        $.ajax({
            url: "{% url 'user:place-information-create' %}",
            type: 'POST',
            data: formData,
            success: function (data) {
                fetchPlaceData();
                $('#placeModal').modal('hide');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
 function fetchPlaceData() {
 var id = "{{ user.id }}"
    $.ajax({
            type: 'GET',
            url: "/user/get-place-information/"+id,
            success:function(data){

             $('#location').text(data[0]['current_city']);
             $('#oldother').text(data[0]['lived']);

             $('#oldcurrent_city').val(data[0]['current_city']);
             $('#oldlived').val(data[0]['lived']);

            }
        });

};
/// post



</script>

<script>
$(document).ready(function(){
   fetchPlaceData();

});

</script>