<!-- Modal -->
{% load static %}
<style>
    .modal-dialog {
    margin-top: 25%;
}

</style>
<div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Place You Lived</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="workform">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <input type="text" id="oldcompany" name="company" class="form-control" placeholder="company">
                        </div>
                        <div class="col">
                            <input type="text" id="olddesignation" name="designation" class="form-control" placeholder="designation">
                        </div>

                    </div>

                    <div class="row">

                        <input type="hidden" name="user_id" value="{{ user.id }}">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
   /// post
$('#workform').submit(function(e){
        e.preventDefault();

        $form = $(this);
        var formData = new FormData(this);

        $.ajax({
            url: "{% url 'user:work-information-create' %}",
            type: 'POST',
            data: formData,
            success: function (data) {
<!--                fetchWorkData();-->
                $('#workModal').modal('hide');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
 function fetchWorkData() {
 var id = "{{ user.id }}"
    $.ajax({
            type: 'GET',
            url: "/user/get-company-information/"+id,
            success:function(data){
             $('#company').text(data[0]['company']);
             $('#designation').text(data[0]['designation']);

<!--             $('#oldcompany').val(data[0]['company']);-->
<!--             $('#olddesignation').val(data[0]['designation']);-->

            }
        });

};
/// post



</script>

<script>
$(document).ready(function(){
   fetchWorkData();

});

</script>